# Binaries
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Storage
uploads/

# Node modules
node_modules/

# Build
dist/
build/

# Database
*.db
*.sqlite3
